<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Workflows", workflows_path %></li>
  <li><%= link_to "Events", events_path %></li>
  <li><%= link_to "Users", users_path %></li>
</ul>
