<h1>Listing workflows</h1>

<%= render 'layouts/pagination', :last_page => @last_page, :current_page => @current_page, :per_page => @per_page %>

<%= render :partial => 'workflow_entry', :collection => @workflows %>

<%= link_to 'New Workflow', new_workflow_path %>
