<script>
  $(function() {

    function Calendar(el) {
      this.date = new Date();
      this.element = el;
    }

    Calendar.prototype.draw = function () {
      var mv = this.element.find('#monthView');
      var monthOffset = ((new Date(this.date.getFullYear(), this.date.getMonth(), 1)).getDay() + 6) % 7;
      var daysInMonth = new Date(this.date.getFullYear(), this.date.getMonth()+1, 0).getDate();

      mv.html(''); // Clear
      for(var rowNo = 0; rowNo < 6; rowNo++) {
        var tr = $('<tr/>');
        for(var colNo = 0; colNo <= 6; colNo++) {
          var day = (rowNo * 7) + colNo - monthOffset + 1;
          var td = $('<td/>');
          if(day > 0 && day <= daysInMonth) {
            var link = $('<a/>', {
              href: '/events/'+ this.date.toISOString().slice(0,8) + Math.floor(day / 10) + (day % 10),
              text: day
            });
            td.append(link);
            if(day == this.date.getDate())
              td.addClass('selected');
          }
          tr.append(td);
        }
        mv.append(tr);
      }
      this.element.find('#currentMonth').html(Calendar.monthNames[this.date.getMonth()] + ' ' + this.date.getFullYear());
    };

    Calendar.prototype.increaseMonth = function (m) {
      this.date.setMonth(this.date.getMonth() + m);
    };

    Calendar.monthNames = [ "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December" ];

    var cal = new Calendar($('#calendar'));
    cal.selected = new Date(<%= @date.strftime('%F').gsub('-',',') -%>);
    cal.draw();

    $('#nextMonth').click(function () {
      cal.increaseMonth(1);
      cal.draw();
    });

    $('#lastMonth').click(function () {
      cal.increaseMonth(-1);
      cal.draw();
    });
  });
</script>

<style>
  #calendar {
    text-align: center;
    display: inline-block;
  }

  #calendar a {
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  #calendar a:hover {
    cursor: pointer;
  }

  #currentMonth {
    float: left;
    width: 59%;
  }

  #nextMonth {
    float: left;
    width: 20%;
  }

  #lastMonth {
    float: left;
    width: 20%;
  }

  #calendar div.header {
    padding: 0.5em 0;
    background-color: #eee;
  }

  #calendar div.header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  #calendar td {
    padding: 0;
    height: 1.5em;
    width: 2em;
  }

  #calendar td.selected {
    background-color: #FF9944;
    font-weight: bold;
  }

  #calendar td.hasEvents {
    background-color: #99FF44;
  }
</style>

<div id="calendar">
  <div class="header">
    <a id="lastMonth">Last</a>
    <div id="currentMonth"></div>
    <a id="nextMonth">Next</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th><th>S</th>
      </tr>
    </thead>
    <tbody id="monthView"></tbody>
  </table>
</div>